* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  &.noscroll {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
}
.row {
  @include makeRow();
  & > div {
    box-sizing: border-box;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background: url(../images/bg.jpg) repeat-y center 0;
  @include screen('mobile') {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  margin: 0 auto;
  max-width: $containerMax; //請看_variable.scss
  position: relative;
  @include containerFixed;
}
.main {
  position: relative;
  margin: 0 auto 5em;

  @include screen('mobile') {
    padding-top: 80px;
  }
  // 可先設定一個中央區塊最大寬，限制accessKey對齊
  h2 {
    line-height: 1.25em;
  }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerPage ClassName
.innerPage {
  & > .container {
    padding-top: 1em;
    @include gutter(); //gutter 代表左右要留白
    display: flex;
  }
  .centerBlock {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  .leftBlock {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;
    align-self: flex-start;
    position: sticky;
    top: 50px;
    &.hidden {
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    & + .centerBlock {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
.hidden {
  display: none;
}
.functionSearch{
  margin-top: -48px;
  margin-bottom: 20px;
  .functionSearchBtn{

    margin: 0.25em 0;
    background: $colorSecondary;
    border: 1px solid $colorSecondary;
    color: #fff;

    &:before{
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(../images/icon/icon_search.svg) no-repeat center center;
      vertical-align: middle;
      margin-right: 6px;
    }
    &:hover,&:focus{
      background: $colorPrimary;
    border: 1px solid $colorPrimary;
    }
  }
  .functionSearchBlock{
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .2);
    // border-top: 4px solid $colorPrimary;
    .formGrid {
      border-top: 0px;
      padding: 1.5rem;
  }
  }
}
.txtArea{
  padding: 2rem;
    border-radius: 20px;
    background: #fff;
    border: 2px solid $colorPrimary;
    p{
      margin-top: 0;
    }
    em,a{
      font-style: normal;
      color: $colorSecondary;
      font-weight: bold;
    }
    a:hover{
      text-decoration: underline;
    }
}
.lp{
  table{
    th,td{
      border:0;
    }
    th{
      padding: 1rem 0.5rem;
      color: $colorPrimary;
      &:first-child{
        border-radius: 10px 0 0 10px;
      }
      &:last-child{
        border-radius: 0 10px 10px 0;
      }

    }
    td{
      border-bottom:  #b9dfe6 1px solid;
      a{
        &:hover,&:focus{
          color: $colorSecondary;
        }
      }
    }
  }
}
.flexEqual_3 .flexSet .thumbnail{
  border-radius: 20px;
}
